@charset "utf-8";

/* 변수지정 */

:root {
  --Width: 1000px;
  --widthMobile: 500px;
  --navHeight: 100px;
  --navHeightMobile: 60px;
  --logoSize: 50px;

  /* 색상코드*/
  --black: #0d0d0d;
  --grey: #808080;
  --white: #ccc;
}

/* 이미지 드래그 금지 */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* 텍스트 드래그 금지 */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* CSS시작 */

body {
  background-color: var(--black);
}

#wrap {
  min-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  #wrap {
    min-width: 100%;
  }
}

/* 헤더 */

header {
  min-width: 100%;
  position: fixed;
  background-color: var(--black);
  z-index: 100;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--Width);
  height: var(--navHeight);
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  header > nav {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: var(--widthMobile);
    height: var(--navHeightMobile);
  }
}

header > nav > h1 {
  width: var(--logoSize);
}

header > nav > h1 > .logo {
  display: block;
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 640px) {
  header > nav > h1 > .logo {
    padding: 0;
  }
}

header > nav > h1 > .logo > img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .gnb > li {
    display: none;
  }
}

header > nav > .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(var(--Width) - 40%);
}

header > nav > ul > li {
  width: calc((var(--Width) - 40%) / 3);
  height: calc(var(--navHeight) * 0.6);
}

header > nav > ul > li:hover > a,
.on > a {
  color: var(--white);
  text-decoration: line-through;
}

header > nav > .gnb > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--grey);
  font-size: 1rem;
  font-family: "Diplomata SC", serif;
  transition: all 0.5s;
}

/* 섹션 */

/* #home */

#home {
  min-width: 100%;
  height: 100vh;
}

.home__logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: var(--Width);
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .home__logoBox {
    width: var(--widthMobile);
    height: 100%;
  }
}

.home__logoBox > .logoBox__logo {
  width: calc(var(--Width) * 0.2);
  position: absolute;
  transition: all 3s cubic-bezier(0.16, 0.88, 0.73, 0.36);
  z-index: 5;
}

@media screen and (max-width: 640px) {
  .home__logoBox > .logoBox__logo {
    width: 40%;
  }
}

.home__logoBox > .logoBox__logo:hover {
  transform: rotate(540deg);
}

.home__logoBox > .logoBox__logo > img {
  display: block;
  width: 100%;
}

.home__logoBox > .logoBox__text {
  width: calc(var(--Width) * 0.3);
  position: absolute;
  transition: all 3s cubic-bezier(0.67, 0.39, 0.5, 0.82);
  z-index: 1;
}
@media screen and (max-width: 640px) {
  .home__logoBox > .logoBox__text {
    width: 60%;
  }
}

.home__logoBox > .logoBox__text:hover {
  transform: rotate(-540deg);
}

.home__logoBox > .logoBox__text > img {
  display: block;
  width: 100%;
}

/* #about */

#about {
  min-width: 100%;
  /* height: calc(100vh - var(--navHeight)); */
  height: 100vh;

  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.about__company {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: var(--Width);
  height: calc(70% - var(--navHeight));
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .about__company {
    width: var(--widthMobile);
  }
}

.about__company > .ECP {
  padding: 30px 0;
  font-size: 2rem;
  text-align: center;
  font-family: "Homemade Apple", cursive;
}

@media screen and (max-width: 640px) {
  .about__company > .ECP {
    font-size: 1.6rem;
  }
}

.about__company > .about__company__contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 80%;
}

@media screen and (max-width: 640px) {
  .about__company > .about__company__contents {
    grid-template-columns: 1fr;
  }
}

.about__company > .about__company__contents > p {
  font-size: 0.8rem;
  line-height: 1rem;
  font-family: "Indie Flower", cursive;
}

.history__company {
  width: var(--Width);
  height: calc(100vh - (70% - var(--navHeight)));
}

@media screen and (max-width: 640px) {
  .history__company {
    width: var(--widthMobile);
  }
}

.history__company > .history__ECP {
  padding: 30px 0;
  font-size: 1.2rem;
  text-align: center;
  font-family: "Homemade Apple", cursive;
}

.history__company > .history__company__contents {
  width: 40%;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .history__company > .history__company__contents {
    width: 70%;
  }
}

.history__company__contents > .history__years {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
}

.history__years > li {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
}

@media screen and (max-width: 640px) {
  .history__years > li {
    grid-template-columns: 1fr 5fr;
  }
}

.history__years > li > h3 {
  font-size: 1rem;
  text-align: right;
  font-family: "Indie Flower", cursive;
}

.history__years > li > ol > li {
  font-size: 0.8rem;
  font-family: "Indie Flower", cursive;
}

/* #Art */

#art {
  min-width: 100%;
  padding-top: var(--navHeight);
}

.art__article {
  width: var(--Width);
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .art__article {
    width: var(--widthMobile);
  }
}

.art__title {
  padding: 30px 0 50px;
  font-size: 2rem;
  text-align: center;
  font-family: "Diplomata SC", serif;
}

@media screen and (max-width: 640px) {
  .art__title {
    font-size: 1.6rem;
  }
}

.art__list {
  height: calc(var(--Width));
}

@media screen and (max-width: 640px) {
  .art__list {
    height: initial;
  }
}

.art__list > ol {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  height: 100%;
}

@media screen and (max-width: 640px) {
  .art__list > ol {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    justify-content: center;
  }
}

.art__list > ol > li {
  width: calc(var(--Width) * 0.3);
  height: calc(var(--Width) * 0.3);

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
  opacity: 0.6;

  transition: all 1s;
}

@media screen and (max-width: 640px) {
  .art__list > ol > li {
    width: calc(var(--widthMobile) * 0.8);
    height: calc(var(--widthMobile) * 0.3);
  }
}

.art__list > ol > li:hover {
  transform: translate(-5px, -5px);
  box-shadow: 8px 8px 10px #444, 4px 4px 5px #222;
  opacity: 1;
}

.art__list > ol > li:nth-of-type(1) {
  background-image: url(./../media/001.jpg);
}
.art__list > ol > li:nth-of-type(2) {
  background-image: url(./../media/002.jpg);
}
.art__list > ol > li:nth-of-type(3) {
  background-image: url(./../media/003.jpg);
}
.art__list > ol > li:nth-of-type(4) {
  background-image: url(./../media/004.jpg);
}
.art__list > ol > li:nth-of-type(5) {
  background-image: url(./../media/005.jpg);
}
.art__list > ol > li:nth-of-type(6) {
  background-image: url(./../media/006.jpg);
}
.art__list > ol > li:nth-of-type(7) {
  background-image: url(./../media/007.jpg);
}
.art__list > ol > li:nth-of-type(8) {
  background-image: url(./../media/008.jpg);
}
.art__list > ol > li:nth-of-type(9) {
  background-image: url(./../media/009.jpg);
}

/* 푸터 */

footer {
  min-width: 100%;
  height: 15vh;
}

footer > .foot {
  width: var(--Width);
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  footer > .foot {
    width: var(--widthMobile);
    height: initial;
    padding-top: 50px;
  }
}

.foot > .thanks {
  display: flex;
  flex-flow: column wrap;
  justify-content: end;
  align-items: center;

  height: 100%;
}

.foot > .thanks > .end {
  color: var(--grey);
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  font-family: "Pixelify Sans", sans-serif;
  transition: 1s;
}

.foot > .thanks > .end:hover {
  color: var(--white);
}

.foot > .thanks > .barcode {
  padding-bottom: 15px;

  color: var(--grey);
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  font-family: "Libre Barcode 128";
}

.foot > .thanks > .barcode:hover {
  color: var(--white);
}

.foot > .banner__present {
  display: none;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .foot > .banner__present {
    display: block;
    width: 100%;
    height: 50px;
  }

  .foot > .banner__present > a {
    display: block;
    color: var(--grey);
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.5rem;
  }
  .foot > .banner__present > a > span {
    display: block;
    font-size: 0.8rem;
    font-family: "Pretendard-Regular";
    font-weight: 100;
  }
}
